<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="../static/client.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Шашки</title>
  </head>
  <body onload="onLoad()">
    <div class="header">
      <div class="status" id="status">Сейчас ходят белые</div>
    </div>
    <div class="board">
      <canvas id="board" width="1400" height="500"></canvas>
    </div>
  </body>
</html>
